<app-header></app-header>

<main>
   <div id="principal" class="flexColumn">
        <p class="titulo alignCenter">Gênero</p>
        <img class='imagem' src="../../assets/imagens/theater 1.png" alt="">
    </div>

    <div>
      <p class="texto1">Cadastrar Gênero</p>
    </div>

    <section class="cards flex">
        <form [formGroup]="formGenero">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Gênero</mat-label>
                <input type="text" matInput formControlName="generoInput" placeholder="Gênero">
                <mat-error *ngIf="txtFormControl.hasError('required')">
                  Gênero do filme</mat-error>
              </mat-form-field>
          </form>

          <div class="example-button-row">
            <button class="cadastrar" mat-flat-button color="warn" (click)="salvarDados()">Salvar</button>
          </div>
    </section>

    <div class="botoes" *ngFor="let genero of listaGenero" id="listaGenero">
          <p class="listaGenero">{{genero.genero}}</p>
        <div id="genero1">
          <button class="botaoExcluir" (click)="excluirGenero(genero.id)">Excluir</button>
          <button class="botaoEditar" (click)="editarGenero(genero)">Editar</button>
        </div>
    </div>

</main>

<app-footer></app-footer>
