main{
    font-family: 'Roboto';
    max-width: 1024px;
}

.principal{
    margin-top:21px;
    text-align: center;
    font-size: 24px black;
}
.titulo {
    font-size: 24px;
}
.imagem{
    width: 100px;
    height: 100px;
}

.texto1{
    font-size: 20px;
}

  div{
      align-items: center;
  }

.cadastrar {
    width: 180px;
    height: 58px;
    border-radius: 0%;
    font-size: 20px;
    background-color: #F6511D;
}

.botaoEditar{
    width: 125px;
    height: 35px;
    background-color: #F6511D;
    color:white;
    border: #F6511D 2px solid;
    border-radius: 20px;

}

.botaoExcluir{
    width: 125px;
    height: 35px;
    background-color: #41B8D2;
    color:black;
    border:  #41B8D2 2px solid;
    border-radius: 20px;
}

.texto1{
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 34%;
}

#filme1, #filme2, #filme3, #filme4{
  display: flex;
}

.listaNomeFilme{
  width: 300px;
}

.listaFilme{
  width: 395px;
}

.cards
{
  display: flex;
  justify-content: space-between;
}

.example-form{
  display: flex;
  gap: 50px;
}

.font1{
  font-size: 20px;
  }
