<app-header></app-header>
<main>
    <div id="principal" class="flexColumn conteiner">
        <p class="titulo alignCenter">Filmes</p>
        <img class='imagem' src="../../assets/imagens/cinema 1.png" alt="">
    </div>

<div><p class="texto1">Cadastrar Filmes</p></div>

    <section class="cards flex conteiner">
      <form [formGroup]="formFilme" class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Título do Filme</mat-label>
              <input type="text" matInput formControlName="filmeInput" placeholder="Título do Filme">
              <mat-error *ngIf="txtFormControl.hasError('required')"> Nome obrigatório</mat-error>
            </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Gênero</mat-label>
                <mat-select formControlName="generoInput">
                  <mat-option *ngFor="let genero of listaGenero" [value]="genero.genero">
                    {{genero.genero}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </form>

          <div class="example-button-row">
            <button class="cadastrar" mat-flat-button color="warn" (click)="salvarDados()" >Salvar</button>
          </div>
    </section>

    <div class="botoes1">
    <div class="botoes" *ngFor="let filme of listaFilme" id="listaFilme">
      <div id="filme1">
        <p class="listaNomeFilme font1">{{filme.filme}}</p>
        <p class="listaFilme font1">{{filme.genero}}</p>
       <div class="botoes1"> <button class="botaoExcluir" (click)="excluirFilme(filme.id)">Excluir</button>
      <button class="botaoEditar" (click)="editarFilme(filme)">Editar</button></div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>

