<app-header></app-header>

<main>
<div id="principal" class="flexColumn conteiner">
    <p class="titulo alignCenter">Cadastro</p>
</div>

<section class="cards flex conteiner">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
          <input class="input" type="texto" matInput [formControl]="txtFormControl" placeholder="Nome e Sobrenome">
          <mat-error *ngIf="txtFormControl.hasError('required')"> Nome obrigatório</mat-error>
        </mat-form-field>
 
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input class="input" type="email" matInput [formControl]="emailFormControl" placeholder="mail@email.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Email obrigatório
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong></mat-error>
          </mat-form-field>
  
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
          <input class="input" type="texto" matInput [formControl]="txtFormControl" placeholder="(xx) xxxxx-xxxx">
          <mat-error *ngIf="txtFormControl.hasError('required')"> Telefone obrigatório</mat-error>
        </mat-form-field>
    </form>
</section>

<section class="conteiner">
  <div class="example-button-row">
    <button class="cadastrar" mat-flat-button color="warn">Cadastrar</button>
  </div>
</section>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 alignCenter conteiner">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Telefone Column -->
  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef> Telefone </th>
    <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
  </ng-container>

  <!-- Botão Column -->
  <ng-container matColumnDef="botao">
    <th mat-header-cell *matHeaderCellDef> Botao </th>
    <td mat-cell *matCellDef="let element"> <button class="botaoEditar">Editar</button> <button class="botaoExcluir">Excluir</button> </td>
  </ng-container>

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</main>

<app-footer></app-footer>

