<app-header></app-header>

<main>
<div class="flexColumn conteiner" >
    <h1 class="titulo alignCenter">Monte sua coletânea de filmes...</h1>
    <p class="subTitulo">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor</p>
    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
</div>

<section class="cards flex marginTop30 conteiner">
<mat-card class="example-card">
    <img mat-card-image src="../../assets/imagens/cinema 1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <h2 class="marginTop30">Filmes</h2>
        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore  aliquip ex ea commodo consequat. 
        </p>
        
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <img mat-card-image src="../../assets/imagens/theater 1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>Categoria</h2>
        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut eiusmod tempor incididunt ut labore  aliquip ex ea commodo consequat. 
        </p>
    </mat-card-content>
  </mat-card>
</section>
</main>

<app-footer></app-footer>
