main{
    width: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    max-width: 90%;
}

.subTitulo{
    font-size: 24px;
}

img{
    width: 100px;
}

.titulo{
    margin-top: 36px;
    font-size: 36px;
    line-height: 42.19px;
}

.subTitulo{
    margin-top: 58px;
    font-size: 24px;
    line-height: 28.13px;
}

#p{
    font-size: 14px;
    line-height: 16.41px;
}

.cards{
    margin-top:44px;
}